@model RequestDetailsViewModel

@{
    if (ViewBag.UserRole == "Admin")
    {
        Layout = "~/Views/Shared/_LayoutAdmin.cshtml";
    }
    else
    {
        Layout = "~/Views/Shared/_LayoutDoctor.cshtml";
    }
    ViewBag.Title = "title";
}


<h2>Request Details</h2>

<div class="card">
    <div class="card-header">
        Request ID: @Model.id
    </div>
    <div class="card-body">
        <h5 class="card-title">Beschrijving</h5>
        <p class="card-text">@Model.description</p>

        <h5 class="card-title">Uitleg</h5>
        <p class="card-text">@Model.explanation</p>

        <h5 class="card-title">Belangrijk</h5>

        <p class="card-text">@Model.important</p>

        <h5 class="card-title">Status</h5>
        <p class="card-text">
            @if (Model.finished == null)
            {
                <span class="text-warning">Nog niet geaccepteerd</span>
            }
            else if (Model.finished == 1)
            {
                <span class="text-success">Geaccepteerd</span>
            }
            else
            {
                <span class="text-danger">Geweigerd</span>
            }
        </p>
    </div>
</div>

<div class="mt-3">
    <a asp-action="Index" class="btn btn-primary">Terug naar alle verzoeken</a>
</div>